.footer {
    margin-top: 30px;
    @include breakpoint('small') {
      padding-top: 40px;
    }
  }
  
  .social-icon img {
	filter: invert(1);
	}
  
  .social-icon {
	opacity: 1;
    margin-right: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          opacity: 1;
        }
      }
    }
  }
  